.button{
    margin-top: 1rem;
    padding-left: 1rem;
}
.button input{
    width: 6.5rem;
    height: 2.1rem;
    border-radius: 1rem;
    border: 1px solid #d4d0d0;
    background-color: #a851f7;
    color: white;
    font-size: 1.rem;
    font-weight: 600;
}

.button input:hover{
    transform: scale(1.1);
    background: transparent;
    border-color: #a851f7;
    color: rgb(29, 221, 189);
    color: black;
    
}